<h1>Formulario de Contacto</h1>
<p></p>

<form>

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="firstname">
      Nombre
      <input type="text" id="firstname" name="firstname" placeholder="Nombre" required>
    </label>

    <label for="lastname">
      Correo Electrónico
      <input type="text" id="lastname" name="lastname" placeholder="Correo Electrónico" required>
    </label>

  </div>

  <!-- Markup example 2: input is after label -->
  <label for="email">Comentarios</label>
  <textarea id="email" name="email" placeholder="Comentarios" required> </textarea> 
  <small>Nunca compartiremos tu e-mail</small>

  <!-- Button -->
  <button type="submit">Enviar</button>

</form>
