
<div class="container-fluid text-center">

<h1>Hoja de Vida</h1>

<br> <br>

<%= image_tag "trabajo2.png" %>


<br> <br>

<h2>Nombre</h2>

<br> <br>

<h3>Perica de los Palotes Mengano</h3>

<br> <br>

<h2>Correo</h2>

<br> <br>

<h3>Tegustaríasaberlo@notelodigo.com</h3>

<br> <br>

</div>



<div class="container-fluid">


<h2>Perfil</h2>

<br> <br>

<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</h3>
 
<br> <br>

</div>


<div class="container">

	<div class="row">
	
		<div class="col">
          
            <img src="../../assets/trabajo1.png"  alt="...">
                
        </div>

		
		<div class="col"> 

		    <h2>Hobbies</h2>

        
            <h3>Ut pharetra facilisis sem, et dictum turpis maximus ac. Donec tincidunt lacus sit amet nibh fringilla, ut tempor dolor pellentesque. Proin tempor nibh convallis dui laoreet, sit amet scelerisque eros sollicitudin. Nam quam diam, interdum ac ligula gravida, porttitor imperdiet nulla. Morbi luctus arcu id magna tincidunt maximus. Cras dapibus felis ac risus suscipit sodales. Nam posuere magna at nulla porta</p>
        
        </div>
	
	</div>

</div>

<div class="container-fluid text-center">

	<br>

	<h2>Pasiones</h2>

	<br> <br>

	<h3>Comida China</h3>

	<h3>Perseguir sueños</h3>

	<h3>Caminar por los prados</h3>

	<h3>Hilar fino</h3>

</div>

<br> <br>


<div class="container-fluid">

<br>

<h2>Ultimos dos trabajos o estudios</h2>

<br>

<h3>Vendedor de Humos</h3>

<h3>Tejedor de Ilusiones</h3>

<br> <br>

<%= image_tag "trabajo3.png" %>

<br> <br>

<h3>La vista de contacto está en localhost:3000/pages/contact</h3>

</div>
